
       <!--main content-->
       <div id="main-content" class="container">
     
        <h2 id="accessories-title">
          SHOES
      </h2>

     
      <section class="row">
        <div class="col-sm-4 col-xs-6 col-xxs-12">
          <a href="Asics_gel_rocket8.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Shoes badminton-asics-gel-rocket-8_4.jpg"
              alt="Rackets">
              <span>Asics Gel Rocket 8</span>
            </div>
          </a>
        </div>
        <div class="col-sm-4 col-xs-6 col-xxs-12">
          <a href="Yonex_aero_shoes.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Shoes yonex aero comfort 2.webp"
              alt="Rackets">
              <span>Yonex Aero Comfort 2</span>
            </div>
          </a>
        </div>
        <div class="col-sm-4 col-xs-6 col-xxs-12">
          <a href="Yonex_Power_shoes.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Shoes Yonex Power Cushion.jpg"
              alt="Rackets">
              <span>Yonex Power Cushion</span>
            </div>
          </a>
        </div>
       
      </section>  
<br>
      <h2 id="accessories-title" >
        SHUTTLE-COCK
    </h2>

   
    <section class="row">
      <div class="col-sm-4 col-xs-6 col-xxs-12">
        <a href="Gyronex_Feather.html">
          <div class="category-tile">
            <img width="200" height="250" src="images/Shuttle-cock_Gyronex_feather.jpg"
            alt="Rackets">
            <span>Gyronex Feather</span>
          </div>
        </a>
      </div>
      <div class="col-sm-4 col-xs-6 col-xxs-12">
        <a href="Osci_plastic.html">
          <div class="category-tile">
            <img width="200" height="250" src="images/Shuttle-cock_Yonex.jpg"
            alt="Rackets">
            <span>OSCI Plastic</span>
          </div>
        </a>
      </div>
      <div class="col-sm-4 col-xs-6 col-xxs-12">
        <a href="Li-Ning_feather.html">
          <div class="category-tile">
            <img width="200" height="250" src="images/Shuttle-cock_Li-Ning.webp"
            alt="Rackets">
            <span>Li-Ning Feather</span>
          </div>
        </a>
      </div>
     
    </section>  
<br>
    <h2 id="accessories-title" >
      STRING
  </h2>

 
  <section class="row">
    <div class="col-sm-4 col-xs-6 col-xxs-12">
      <a href="String_yone_bg65.html">
        <div class="category-tile">
          <img width="200" height="250" src="images/String bg65 titanium.jpg"
          alt="Rackets">
          <span>Yonex bg65 Titanium</span>
        </div>
      </a>
    </div>
    <div class="col-sm-4 col-xs-6 col-xxs-12">
      <a href="Yonex_ExBolt63.html">
        <div class="category-tile">
          <img width="200" height="250" src="images/String yonex Exbolt 63.jpeg"
          alt="Rackets">
          <span>Yonex ExBolt 63</span>
        </div>
      </a>
    </div>
    <div class="col-sm-4 col-xs-6 col-xxs-12">
      <a href="Yonex_nanogy95.html">
        <div class="category-tile">
          <img width="200" height="250" src="images/String Nanogy.png"
          alt="Rackets">
          <span>Yonex Nanogy 95</span>
        </div>
      </a>
    </div>
   
  </section>  

       </div>

       <!--end of main content-->
    