
       
      <h2 class="racket-name text-center">
  ARCSABER 11
      </h2>
      <div class="container">
          <section class="row">
         <div class="single-racket-img col-xs-6">
             <img width="100%" height="400px" src="images/ARCSABER 11.jpg">
      <div class="racket-price">
        <span>Rs.8724
          </span>
          <span class="canceled-price">
            Rs.10,905          </span>
         
          <span class="off-text">(20% OFF)</span>
        </div>
        <br>
        <div class="addtocart">
          <a href="">
            Add to cart
          </a>
        </div>
            </div>  
         <div class="col-xs-6">
         <ul class=" info-racket">
             
   <li> Brand : yonex</li>
   <li> Balance : even headed</li>
   <li>Weight : 88-93 gms</li>
   <li> Flexibility : stiff</li>
   <li> Grip : G4</li>
   <li>Shape : isometric</li>
   <li> Tension : 19-25lbs</li>
        </ul></div>
          </section>
      </div>
       <!--end of main content-->
   