
       
      <h2 class="racket-name text-center">
  Asics Gel Rocket 8
      </h2>
      <div class="container">
          <section class="row">
         <div class="single-racket-img col-xs-6">
             <img width="100%" height="400px" src="images/Shoes badminton-asics-gel-rocket-8_4.jpg">
      <div class="racket-price">
        <span>Rs.4499
          </span>
          <span class="canceled-price">
            Rs.4999     </span>
         
          <span class="off-text">(10% OFF)</span>
        </div>
        <br>
        <div class="addtocart">
          <a href="">
            Add to cart
          </a>
        </div>
            </div>  
         <div class="col-xs-6">
         <ul class=" info-racket">
  
 <li>Colors : Black/White/Silver</li>
 <li>No-marking : Yes</li>
 <li>Width : Std</li>
 <li>Size : US 7/UK 6</li>

        </ul>
    <p class="shoes-info">
        With exceptional fit, enhanced traction and upgrades, shock-absorbing cushioning, our GEL速-ROCKET 8 model is a top-level shoe at an entry-level price. Known as a long-time favourite of beginning and intermediate court players, the latest GEL速-ROCKET incarnation features our stabilizing Trusstic System technology, gum rubber on the outsole for unparalleled traction and our signature forefoot GEL速 technology cushioning. PRODUCT FEATURES- FOREFOOT GEL速 CUSHIONING SYSTEM (COURT)Attenuates shock during impact phase.- TRUSSTIC SYSTEM TECHNOLOGYReduces the weight of the sole unit while retaining the structural integrity of the shoe.

    </p></div>
          </section>
      </div>
       <!--end of main content-->
    