
       <div id="main-content" class="container" style="color: white">
      <h2 id="guide-title" >
          GUIDE
      </h2>
      <p class="start-content">
        In badminton the racket is considered an extension of the player.
         When chosen appropriately it can enhance a players performance
          exorbitantly while when chosen poorly it can lead to otherwise
           avoidable blunders .<br>
        Thus the first step for any beginner-intermediate badminton player
         has to be to find their style and a racket that compliments it.<br> 
        So we are here to help you get  that first step in the bag !!!
        <br>
      </p>
   <ol class="properties">
<div style="font-size: 2.0em; ">
    PROPERTIES:
</div><br>
<li><span  class="prop-types">BALANCE</span> <br><br>When you are buying a badminton racket, there is one important thing that you should not ignore: the balance point of the racket.
    <br>
    The balance point is located along the shaft of the racket. It is simply a point at which you can balance the racket on your finger. Every racket feels different to you because of the balance point.
    <br><br>
 <div class="bal-types">
     TYPES :
     <br>
     <table  class="table table-bordered">
         <tr>
             <th>BALANCE POINT</th>
             <th>BALANCE</th>
         </tr>
         <tr>
             <td>>295mm</td>
             <td>Head-Heavy</td>

         </tr>
         <tr><td>285-295mm</td>
        <td>Even-balanced</td>
    </tr>
    <tr>
        <td> <285mm </td>
<td> Head-Light</td>
    </tr>
    </table> </div>
</li>
<ul>
    <li>
        <div style="font-weight:bold">Head-Heavy:</div>
  <br>
  As the control of head-heavy rackets takes more effort and practice to
   master, these rackets are recommended for experienced players vs.
    beginners.<br>

  <span style="color:rgb(1, 255, 1)">Pros: </span>Generates powerful shots<br>
 <span style="color:rgb(255, 5, 5)"> Cons:</span> Decreased racket handling, Increased risk of injury if misused.<br>
  Recommended for: Attacking players, Back-court play.
  
  
</li>
<br>
<li>
    
    <div style="font-weight:bold">Even-balanced:</div>
<br> Jack of all trades when it comes to rackets  , mixes the 
characteristics of head heavy and light type of rackets thus giving an
 all round style of playing . Thus best suited for beginners to help them
  discover their playing style and for players without any specific
   preference.<br>
   <span style="color:rgb(4, 255, 4)"> Pros:</span> Capable of executing each kind of shot to some extent<br>
    <span style="color:red">Cons:</span> No specialization towards either defensive or offensive extremes<br>
Recommended for: All around players, Beginners.

</li>
</ul>
<br>
<!--start of 2nd prop that is weight-->
<li>
    <span class="prop-types">
        WEIGHT
    </span><br>
    <p>
        Selecting the weight for your badminton racquet depends upon your playing technique and skill of play. The weight and balance of the racquet changes when it is either strung or any extra grip is added. The unstrung weight of badminton racquets is usually in the below-given range: 

    </p>
    <table class="table table-bordered">
        <tr>
            <th class="text-center" colspan="2">RACQUET WEIGHT</th>
        </tr>
        <tr>
            <td>UNIT</td>
 <td>WEIGHT</td>    
   </tr>
   <tr>
       <td>F</td>
<td>70-74.9 gm</td>  
 </tr>
 <tr>
    <td>5U</td>
<td>75-79.9 gm</td>  
</tr>
<tr>
    <td>4U</td>
<td>80-84.9 gm</td>  
</tr>
<tr>
    <td>3U</td>
<td>85-79.9 gm</td>  
</tr>
<tr>
    <td>2U</td>
<td>90-94.9 gm</td>  
</tr>
<tr>
    <td>U</td>
<td>95-99.9 gm</td>  
</tr>
    </table>
    <br>
    <ul>
      <li>
        	Lightweight Racquets (<85 gm): These racquets are ideal for many amateurs and advanced players.
 </li>
 <br>

 <li>
  	Heavier Racquets (>86 gm): These racquets provide more momentum & speed to the shuttle. These badminton racquets are well-suitable for the players with strong shoulders and for those who can handle heavy racquets for their power-packed game.
 </li>
 <br>
 <span style="color: red; font-size: 1.3em;">
 NOTE:</span>
 <br>
 Beginners are not recommended to use heavy rackets when starting their badminton journey.
    </ul>
</li>
<!--3rd property that is grip-->
<br>
<li>
<span class="prop-types">GRIP</span><br><br>
The grip of a racket is measured by the circumference of the handle. Typically rackets are made in G4 or G5 grip sizes.
<br>
<table class="table table-bordered">
 <tr>
   <th>UNIT</th>
   <th>GRIP SIZE</th>
 </tr>
 <tr>
   <td>G1</td>
 <td>4 in/10.2cm</td></tr>
 <tr>
  <td>G2</td>
<td>3.75 in/9.5cm</td></tr>
<tr>
  <td>G3</td>
<td>3.5 in/8.9cm</td></tr>
<tr>
  <td>G4</td>
<td>3.25 in/8.3cm</td></tr>
<tr>
  <td>G5</td>
<td>3 in/7.6cm</td></tr>
<tr>
  <td>G6</td>
<td>2.75 in/7cm</td></tr>

</table>
<br>
<p>
  Smaller grips are recommended for players who enjoy keeping their opponents on their toes. They allow for a greater amount of racket manipulation and make it easier to make last second deceptions.
</p>
<p>
  Bigger grips allow players to deliver power by using more of their arm rather than their finger and wrist strength. Power players tend to grip the handle tighter, making a bigger grip the more suitable choice.
</p>
<br>
<span style="color:red; font-size: 1.3em;">NOTE:</span>
<br>
For newer players a smaller grip with additional overgrips to increase size is recommended .
</li>
<br>
<!--4th prperty flexibility-->
<li>
  <span class="prop-types">FLEXIBILITY</span>
  <br><br>
 
  <p>
    Flexibility of a racket refers to how stiff the shaft is.<br><br>
    The stiffness of a racket’s shaft influences the racket stroke and recovery time of a player and thus is an important point of consideration when choosing a racket.
    <br><br>
    Flexible rackets are more lenient towards slower shuttle strikes but increases recovery time.
    <br><br>
    Thus in conclusion, 
stiff rackets recovers faster but requires faster power generation and is thus used by pros and experienced players while flexible rackets are recommended for beginners .

  </p>
</li>
<li>
  <span class="prop-types">SHAPE</span><br><br>
  <ul>
    <li>
    OVAL
    <br>
    <span style="color:rgb(0, 255, 0)">Pros: </span>more concentrated power<br>
    <span style="color:red">Cons: </span>smaller sweet spot<br>
    Used by proffessionals usually.
    <br>
    </li>
    <br>
    <li>
    
      ISOMETRIC
      <br>
      <span style="color:rgb(0, 255, 0)">Pros: </span>larger sweet spot<br>
      <span style="color:red">Cons: </span>Lesser concentrated power when hit perfectly in comparison<br>
      In conclusion , isometric is recommended for beginners with lesser skill-set.
    </li>

  </ul>
</li>
   </ol>
     
     
       </div>
       <!--end of main content-->
    