
       <div id="main-content" class="container">
      <div class="guide-image">
          <a  href="/guide"> <div><img class="bg-image" src="images/123.png" 
            alt="guide-photo">
            
            <div class="col-sm-6 jumbo-guide">
              <div class="jumbo-head">Guide</div>
              <div class="jumbo-txt">In badminton the racket is considered an
                 extension of the player . When chosen appropriately it can
                  enhance a players performance exorbitantly while when chosen
                   poorly it can lead to otherwise avoidable blunders.
                   Thus the first step for any beginner-intermediate 
                   badminton player has to be to find their style and a 
                   racket that compliments it . 
                  So we are here to help you get  that first step in the
                   bag !!!



           </div>
            </div>
          </div>
          </a>
     </div>

      <!--rackets display-->
      <section class="row">
        
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/y88d">
            <div class="category-tile">
              <img width="200" height="250" src="images/Yonex 88d.jfif"
              alt="Rackets">
              <span>Yonex 88d</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/mp29">
            <div class="category-tile">
              <img width="200" height="250" src="images/muscle_power 29.jpeg"
              alt="Rackets">
              <span>Muscle Power 29</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/yaero">
            <div class="category-tile">
              <img width="200" height="250" src="images/yonex aero comfort 2.webp"
              alt="Rackets">
              <span>Yonex Aero Comfort 2</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/bg65">
            <div class="category-tile">
              <img width="200" height="250" src="images/String bg65 titanium.jpg"
              alt="Rackets">
              <span>Yonex bg65 Titanium</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/osci">
            <div class="category-tile">
              <img width="200" height="250" src="images/Shuttle-cock_Yonex.jpg"
              alt="Rackets">
              <span>OSCI Plastic</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/yzforce">
            <div class="category-tile">
              <img width="200" height="250" src="images/Yonex Voltric Z Force II Professional.jpg"
              alt="Rackets">
              <span>Yonex Voltric Z Force II Professional</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/perf">
            <div class="category-tile">
              <img width="200" height="250" src="images/Perfly Adult Racket.jfif"
              alt="Rackets">
              <span>Perfly Adult Racket BR 990 P BLK Red</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/ypower">
            <div class="category-tile">
              <img width="200" height="250" src="images/Shoes Yonex Power Cushion.jpg"
              alt="Rackets">
              <span>Yonex Power Cushion </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/arcs11">
            <div class="category-tile">
              <img width="200" height="250" src="images/ARCSABER 11.jpg"
              alt="Rackets">
              <span>ARCSABER 11</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/gyro">
            <div class="category-tile">
              <img width="200" height="250" src="images/Shuttle-cock_Gyronex_feather.jpg"
              alt="Rackets">
              <span>Gyronex Feather</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/yexbolt">
            <div class="category-tile">
              <img width="200" height="250" src="images/String yonex Exbolt 63.jpeg"
              alt="Rackets">
              <span>Yonex ExBolt 63</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="/senN80">
            <div class="category-tile">
              <img width="200" height="250" src="images/Senston.jpg"
              alt="Rackets">
              <span>Senston N80</span>
            </div>
          </a>
        </div>
      </section>  
       </div>
       <!--end of main content-->

  