
       
      <h2 class="racket-name text-center">
  Li-ning Feather
      </h2>
      <div class="container">
          <section class="row">
         <div class="single-racket-img col-xs-6">
             <img width="100%" height="400px" src="images/Shuttle-cock_Li-Ning.webp">
      <div class="racket-price">
        <span>Rs.302
          </span>
          <span class="canceled-price">
            Rs.325 </span>
         
          <span class="off-text">(7% OFF)</span>

        </div>
      <br>
        <div class="addtocart">
          <a href="">
            Add to cart
          </a>
        </div>
            </div>  
         <div class="col-xs-6">
         <p class="shoes-info">
            This is a 'Training' class high-quality shuttlecock with extra durability. We take pride in using superior quality duck-feathers for a good flight path and that extra durability that every badminton player chases in a practice session. The composite cork helps in weight distribution and gives you a satisfying and inexpensive training experience.
         </p>
        
   </div>
          </section>
      </div>
       <!--end of main content-->
    