
       
      <h2 class="racket-name text-center">
       Perfly Adult Racket BR 990 P BLK Red
      </h2>
      <div class="container">
          <section class="row">
         <div class="single-racket-img col-xs-6">
             <img width="100%" height="400px" src="images/Perfly Adult Racket.jfif">
      <div class="racket-price">
        <span>Rs.2250
          </span>
          <span class="canceled-price">
            Rs.2500          </span>
         
          <span class="off-text">(10% OFF)</span>
        </div>
        <br>
        <div class="addtocart">
          <a href="">
            Add to cart
          </a>
        </div>
            </div>  
         <div class="col-xs-6">
         <ul class=" info-racket">
             
    <li> Brand : decathlon</li>
    <li>Flex : med</li>
    <li>Graphite : shaft</li>
    <li>Balance : head-heavy</li>
    <li>Weight : 87gms</li>
    <li>Grip : 3.75inches</li>
        </ul></div>
          </section>
      </div>
       <!--end of main content-->
    