
       <!--main content-->
       <div id="main-content" class="container">
      <div id="rackets-title" >
          RACKETS
      </div>

      <!--rackets display-->
      <section class="row">
        <div  class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Muscle_power29.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/muscle_power 29.jpeg"
                           
              alt="Rackets">
              <span>Muscle Power 29</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Yonex_voltric_ace.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Yonex Voltric Ace.jpg"
              alt="Rackets">
              <span>Yonex Voltric Ace </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Yonex_voltric_Zforce.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Yonex Voltric Z Force II Professional.jpg"
              alt="Rackets">
              <span>Yonex Votric Z Force || Professional </span>
            </div>
          </a>
        </div>
       
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Perfly_Adult.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Perfly Adult Racket.jfif"
              alt="Rackets">
              <span>Perfly Adult Racket BR 990 P BLK Red</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Yonex88d.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Yonex 88d.jfif"
              alt="Rackets">
              <span>Yonex Astrox 88d</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="ARCSABER11.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/ARCSABER 11.jpg" alt="Rackets">
              <span>ARCSABER 11</span>
            </div>
          </a>
        </div>
        
        
        
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Windstorm.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Windstorm.webp"
              alt="Rackets">
              <span>Windstorm 78+</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Victor_Jet.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Victor Jet Speed.webp"
              alt="Rackets">
              <span>Victor Jet Speed S 10-Q G5</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Yonex_nanoflare800.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Yonex Nanoflare 800.jpg"
              alt="Rackets">
              <span>Yonex Nanoflare 800</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Senston_N80.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Senston.jpg"
              alt="Rackets">
              <span>Senston N80</span>
            </div>
          </a>
        </div>
       
        
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Li-Ning_G-Force.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Li-Ning G-Force Superlite 3700.jpeg"
              alt="Rackets">
              <span>Li-Ning G-Force Superlite 3700</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
          <a href="Head_Ignition.html">
            <div class="category-tile">
              <img width="200" height="250" src="images/Head ignition.jpg"
              alt="Rackets">
              <span>Head Ignition PRO</span>
            </div>
          </a>
        </div>
      </section>  
       </div>
       <!--end of main content-->
    