
      <h2 class="racket-name text-center">
  Yonex bg65 Titanium
      </h2>
      <div class="container">
          <section class="row">
         <div class="single-racket-img col-xs-6">
             <img width="100%" height="400px" src="images/String bg65 titanium.jpg">
      <div class="racket-price">
        <span>Rs.450
          </span>
          <span class="canceled-price">
            Rs.515 </span>
         
          <span class="off-text">(13% OFF)</span>
        </div>
        <br>
        <div class="addtocart">
          <a href="">
            Add to cart
          </a>
        </div>
      </div>
        <div class="col-xs-6">
     <ul class=" info-racket">
         <li>Brand : Yonex</li>
         <li>Gauge : 0.7L</li>
         <li>Color : Assorted</li>
         <li>Length : 10m</li>
         <li>Material : Titanium</li>
         <li>Coating : Nylon Fibre</li>
         <li>Technology : Multifilament</li>
     </ul>
            </div>  
         
          </section>
      </div>
       <!--end of main content-->
   