
       
      <h2 class="racket-name text-center">
     Victor Jet Speed S 10-Q G5
      </h2>
      <div class="container">
          <section class="row">
         <div class="single-racket-img col-xs-6">
             <img width="100%" height="400px" src="images/Victor Jet Speed.webp">
      <div class="racket-price">
        <span>Rs.2241
          </span>
          <span class="canceled-price">
            Rs.2490
          </span>
          
          <span class="off-text">(10% OFF)</span>
        </div>
        <br>
        <div class="addtocart">
          <a href="">
            Add to cart
          </a>
        </div>
            </div>  
         <div class="col-xs-6">
         <ul class=" info-racket">
           <li>Brand: Victor</li>  
           <li> Flex:  medium</li>
           <li>Shape : Oval</li>
           <li>Weight : 90gms</li>
           <li>Grip : 4 5/8 inches</li>
           <li> Balance: Heavy head</li>
           <li> Material : Ultra Hi-Modulus Graphite + PYROFIL + Nano Fortify</li>
           <li> Skill : Advanced</li>
            
          
            
            
         </ul></div>
          </section>
      </div>
       <!--end of main content-->
   