
       
      <h2 class="racket-name text-center">
  Yonex ExBolt 63
      </h2>
      <div class="container">
          <section class="row">
         <div class="single-racket-img col-xs-6">
             <img width="100%" height="400px" src="images/String yonex Exbolt 63.jpeg">
      <div class="racket-price">
        <span>Rs.949
          </span>
          <span class="canceled-price">
            Rs.1030 </span>
         
          <span class="off-text">(8% OFF)</span>
        </div>
        <br>
        <div class="addtocart">
          <a href="">
            Add to cart
          </a>
        </div>
      </div>
        <div class="col-xs-6">
     <ul class=" info-racket">
         <li>Brand : Yonex</li>
        
         <li>Color : Yellow</li>
         <li>Skill level : Advanced</li>
        
     </ul>
            </div> 
         
          </section>
      </div>
       <!--end of main content-->
    