
       
      <h2 class="racket-name text-center">
  Yonex Nanogy 95
      </h2>
      <div class="container">
          <section class="row">
         <div class="single-racket-img col-xs-6">
             <img width="100%" height="400px" src="images/String Nanogy.png">
      <div class="racket-price">
        <span>Rs.529
          </span>
          <span class="canceled-price">
            Rs.615 </span>
         
          <span class="off-text">(14% OFF)</span>
        </div>
        <br>
        <div class="addtocart">
          <a href="">
            Add to cart
          </a>
        </div></div>
        <div class="col-xs-6">
     <ul class=" info-racket">
         <li>Brand : Yonex</li>
        
         <li>Color : Golden</li>
         <li>Skill level : Advanced</li>
         <li>Size : 0.69mm</li>
         <li>Material : Carbon-fibre</li>
        
     </ul>
            </div>  
         <div class="col-xs-6">
        
        
   </div>
          </section>
      </div>
       <!--end of main content-->
    