
       
      <h2 class="racket-name text-center">
    Yonex Nanoflare 800
      </h2>
      <div class="container">
          <section class="row">
         <div class="single-racket-img col-xs-6">
             <img width="100%" height="400px" src="images/Victor Jet Speed.webp">
      <div class="racket-price">
        <span>Rs.12316
          </span>
          <span class="canceled-price">
            Rs.13685
          </span>
         
          <span class="off-text">(10% OFF)</span>
        </div>
        <br>
        <div class="addtocart">
          <a href="">
            Add to cart
          </a>
        </div>
            </div>  
         <div class="col-xs-6">
         <ul class=" info-racket">
           <li>Brand: Yonex</li>  
           <li> Flex:  stiff</li>
           <li>Shape : isometric</li>
           <li>Weight : 83gms</li>
           <li>Grip : 4 5/8 inches</li>
           <li> Balance: head light</li>
           <li> Material : Graphite</li>
           <li> Skill : Professional</li>
            
          
           
            
            
         </ul></div>
          </section>
      </div>
       <!--end of main content-->
    